
#output-div{
height: fit-content;
width: 100%;
display: grid;
align-items: center;
justify-content: center;
margin: auto;
background-color: rgb(255, 255, 255);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: black;
overflow-wrap: break-word;
text-wrap: wrap;
padding: 15px;


}

.dark #output-div{
    background-color: rgb(23, 22, 22);
    color: white;
}

#output-div pre{
    text-wrap: wrap;
}

#output-div::after{
    content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus dolor, dictum non efficitur at, ultricies sit amet nisi. Etiam quis molestie nunc, sed tempus lectus. Curabitur molestie malesuada ex sed facilisis.";
    display: block;
    opacity: 60%;
    -webkit-mask-image: linear-gradient(180deg, #000000ca 0%, #00000034);

}

#output-div::before{
    content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus dolor, dictum non efficitur at, ultricies sit amet nisi. Etiam quis molestie nunc, sed tempus lectus. Curabitur molestie malesuada ex sed facilisis. ";
    display: block;
    opacity: 60%;
    -webkit-mask-image: linear-gradient(0deg, #000000ca 0%, #00000034);

}

#output-div p {
    margin: 1.286em auto;
    padding: 0;
    line-height: 1.5;
}

#output-div hr{
    width: 33%;
    margin: .875em auto 1.2525em;
    border: 1px solid;
}

#output-div h1, #output-div h2, #output-div h3, #output-div h4, #output-div h5, #output-div h6 {
    font-family: Georgia,serif;
    font-weight: 400;
    word-wrap: break-word;
}