
@font-face {
  font-family: "header font";
  src: url(./fonts/sparky-stones-font/SparkyStonesRegular-BW6ld.ttf) format("truetype");
}

@font-face {
  font-family: "p font";
  src: url(./fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "p font bold";
  src: url(./fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "p font italics";
  src: url(./fonts/Libre_Baskerville/LibreBaskerville-Italic.ttf) format("truetype");
}

h1 { 
  font-family: "header font", Verdana, Tahoma;
  font-size: 20px;
  line-height: 0.95em;

}

h1.titlecard{
  font-size: 10vw;
}

h2 {
  font-family: "p font", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: x-large;
  padding-top: 15px;
}

body {
  font-family: "p font", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.font-bold, b{
  font-family: "p font bold", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

.italic, i{
  font-family: "p font italics", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

li {
  list-style-position: inside;
  list-style-type: square;
  padding-bottom: 15px;
}

textarea{
  color: black;
  font-size: small;
  padding: 4px;
  width: 90%;
  margin: 5px;
  min-height: 3em;
}

textarea::placeholder{
  font-size: small;
}

.button-big-default {
  border: 3px dotted #105b63ab;
  width: 100%;
  padding: 3px;
  text-align: center;
  font-size: large;
  margin: 3px auto;
}

.dark .button-big-default {
  border-color: rgba(240, 248, 255, 0.787);
}

.button-big-default h2{
  padding: 5px;
  margin: 5px;
  line-height: 1em;
}

.button-big-default:hover {
  background-color: #ffc78c;
}

.dark .button-big-default:hover {
  background-color: #105b63;
}

a{
  text-decoration: underline;
}

a:hover{
  background-color: #ffd34e88;
  padding: 2px;
  border-radius: 2px
}


li{
  margin-bottom: 10px;
}


.almost-full-height{
  height: calc(100vh - 64px);


}

@media screen and (max-width: 850px) {
  .almost-full-height {
     height: auto;
  }
  .almost-full-height#notes {
    height: calc(100vh - 64px);
    margin-bottom: 60px;
 }

 h1.titlecard {
  font-size: 20vw;
 }
}

body .div{
  margin: 0;
}

textarea::placeholder{
  color: black;
}

.add-scroll{
  overflow-y: scroll;
}

#show-controls, #show-notes{
  display: flex;
  padding: auto 1px;
  font-size: small;
  justify-content: center;
  margin: auto;


}

#show-controls::after, #show-notes::after{
  float: right;
  display: contents;
  content: url("./img/BLUEDARKARROWDOWN.svg");
  margin-left: 10px;
  background-size: 100%;
  transform: scale(0.032);
  width: 0;
  height: 0;
}

#show-notes::after{
  content: url("./img/BLUEDARKARROWUP.svg");
}

.dark #show-controls::after{
  content: url("./img/BRIGHTARROWDOWN.svg")
}

.dark #show-notes::after{
  content: url("./img/BRIGHTARROWUP.svg")
}

#copy-grid{
  display: grid;
  width: 100%;
  grid-template-columns: 50% auto 50px;
  grid-row: 1fr;
  height: fit-content;
  padding-top: 5px;
}

#copy-html-div {
  grid-area: 1 / 1 ;
  overflow-y: hide;

}

#copy-css-div{
  grid-area: 1 / 2;
  overflow-y: hide;
  
}

#show-copy-grid{
  overflow-y: hide;
  grid-area: 1 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;


}

#show-copy-grid-button {
  font-size: 13px;
  margin: 2px;

}


textarea#html-output, textarea#css-to-copy {
  height: 300px;
  color: black;
  font-size: xx-small;
  width: 100%;
  overflow-y: scroll;
  padding: 4px;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none; /*remove the resize handle on the bottom right*/
}