/*
***************************************
TRUE FOR EVERY PAGE
***************************************
*/

body {
  
  --light: '#fffad5';
  --brightlight: #ffd34e;
  --bluedark: #105b63;
  --darkdark: #092629;
  --bright: #db9e36;
  --reddark: #bd4932;
  --orangedark: #9d380a;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  html {
      background-color: black;
      color: white;
  }
}

/*
***************************************
FONTS FOR EVERY OCCASION
***************************************
*/

@font-face {
  font-family: "header font";
  src: url(./fonts/sparky-stones-font/SparkyStonesRegular-BW6ld.ttf) format("truetype");
}

@font-face {
  font-family: "p font";
  src: url(./fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "p font bold";
  src: url(./fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "p font italics";
  src: url(./fonts/Libre_Baskerville/LibreBaskerville-Italic.ttf) format("truetype");
}

h1 { 
  font-family: "header font", Verdana, Tahoma;
  font-size: 20px;
  line-height: 0.95em;

}

h1.titlecard{
  font-size: 10vw;
  overflow: hidden;

}

@media screen and (min-width: 1200px) {
  h1.titlecard{
    font-size:  6.5em;
  }

}

h2 {
  font-family: "p font", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: x-large;
  padding-top: 15px;
}

body {
  font-family: "p font", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.font-bold, b{
  font-family: "p font bold", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

.italic, i{
  font-family: "p font italics", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}


kbd {
  background-color: rgba(0, 0, 0, 0.13);
  padding: 2px;
  margin: -2px;
}

.dark kbd {
  background-color: black;
}

/*
***************************************
HEADER AND FOOTER
***************************************
*/

header{
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--bluedark);
  height:40px;
  border-bottom: solid currentColor 4px;

}

.dark header{
  color: var(--bright);
}

footer {
margin-bottom: 16px;
border: solid 2px var(--bluedark);

}

.dark footer {
  border-color: var(--brightlight)
}

a {
  text-decoration: underline;
  font-weight: bold;


}

a:hover{
  background-color: #ffd34ebe;
  padding: 2px 3px;
  border-radius: 6px;
  margin: -2px -3px;
}

.dark a:hover{
  background-color: #7385fd99;
}



ul li, li {
  list-style-position: inside;
  list-style-type: square;
  padding-bottom: 15px;
  margin-bottom: 10px;
}

ol li {
  list-style-type:decimal;
  list-style-position:inside;
}

textarea {
  color: black;
  font-size: small;
  padding: 4px;
  width: 90%;
  margin: 5px;

}

textarea::placeholder{
  font-size: small;
}

textarea.small {
  width: inherit;
}


button.simple{
  border: 3px dotted #105b63ab;
  padding: 3px 8px;
  text-align: center;

  margin: 3px auto;
}

.dark button.simple{
  border-color: rgba(240, 248, 255, 0.787);
}

button.nav{
  text-align: middle;
  font-weight: bold;
  padding-left: 8px;

}

.button-big-default {
  border: 3px dotted #105b63ab;
  width: 100%;
  padding: 3px;
  text-align: center;
  font-size: large;
  margin: 3px auto;
}

.dark .button-big-default {
  border-color: rgba(240, 248, 255, 0.787);
}

.button-big-default h2{
  padding: 5px;
  margin: 5px;
  line-height: 1em;
}

.button-big-default:hover {
  background-color: #ffc78c;
}

.dark .button-big-default:hover {
  background-color: #105b63;
}

.dark-mode-div { 
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

/*
***************************************
MOSTLY FOR GENERATORS
***************************************
*/

/*
***************************************
GENERAL GENERATOR STRUCTURE
***************************************
*/

body.generator {
  background-color: rgb(226 232 240);
  color: var(--darkdark);
  overflow-x: hidden;

}

.dark body.generator{
  background-color: var(--darkdark);
  color: var(--light);
}


body.generator>div{ 
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  width: 100%;
  min-height: 100vh;
  min-height: 100svh;
  height: auto;
  margin: 0;
  padding: 0;

}


body.generator #notes, body.generator #controls  {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 15px;
}


body.generator #controls-inputs-div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: stretch;
  margin: 15px 0 25px 0;


}

body.generator #controls-inputs-div>div{
  width: 100%;
}

body.generator #output-and-copy {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin-bottom: 0;
}
@media screen and (min-width: 824px) {

  body.generator #output-and-copy {
    width: calc(100% * 3 / 5);
  }

}

#output-div {
  height: 100%;
  width: 100%;
  display: grid;
  align-items: center;
  margin: 20px auto;
}



#show-controls, #show-notes{
  display: flex;
  padding: auto 1px;
  font-size: small;
  justify-content: center;
  align-items: center;
  margin: auto;
}


#show-controls>img, #show-notes>img {
  display: inline-flex;
  height: fit-content;
  max-height: 2em;
  padding: 0px 10px;
  margin: 0 5px;
}

/*
***************************************
COPY GRID
***************************************
*/

#copy-grid{

  display: grid;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: small;
  padding: none;
  width: 100%;
  grid-template-columns: 50% auto 50px;
  grid-row: 30px;
  height: fit-content;
  margin-top: 1em;
}

#copy-html-div {
  grid-area: 1 / 1 ;
  overflow-y: hide;
  z-index: 20;
}

#copy-html-button {
  width: 100%;
  background-color: var(--reddark);
  color: white;
  height: 100%;
  border-radius: 18px 18px 0 0;
}

#copy-css-div{
  grid-area: 1 / 2;
  overflow-y: hide;
  z-index: 10;
  margin-left: -8px;
}

 #copy-css-button {
  width: 100%;
  background-color: var(--orangedark);
  color: white;
  height: 100%;
  border-radius: 18px 18px 0 0;
  -webkit-box-shadow: inset 89px -2px 88px -33px rgba(64,13,6,0.30);
  -moz-box-shadow: inset 89px -2px 88px -33px rgba(64,13,6,0.30);
  box-shadow: inset 89px -2px 88px -33px rgba(64,13,6,0.30);
}


#show-copy-grid{
  grid-area: 1 / 3;
  display: grid;
  height: fit-content;
  border-radius: 18px 18px 0 0;
  margin-bottom: 0;
  background-color: var(--bluedark);
}

.dark #show-copy-grid {
  background-color: var(--brightlight);
}

#show-copy-grid-button {
display: inline-flex;
justify-content: end;
align-items: center;
padding: 0px;
size: 10px;
margin: 0;
margin-left: -8px;
color: rgba(0, 0, 0, 0);
border-radius: 8px 8px 0 0;

background-color: #105b63;
-webkit-box-shadow: inset 89px -2px 88px -33px rgba(6,35,38,0.6);
-moz-box-shadow: inset 89px -2px 88px -33px rgba(6,35,38,0.6);
box-shadow: inset 89px -2px 88px -33px rgba(6,35,38,0.6);
}

.dark #show-copy-grid-button {
  background-color: #ffd34e;
  -webkit-box-shadow: inset 89px -2px 88px -33px rgba(219,158,54,0.61);
  -moz-box-shadow: inset 89px -2px 88px -33px rgba(219,158,54,0.61);
  box-shadow: inset 89px -2px 88px -33px rgba(219,158,54,0.61);
}

#show-copy-grid-button>img {
  width: 100%;
  margin: 0 0 0 30%;
  height: fit-content;
  padding: 0;

}

#html-css-div {
  display: flex;
  padding: 0;
  width: 100%;
  border: solid var(--bluedark) 2px;
  border-bottom: none;
  border-right: 4px solid;
 
}

.dark #html-css-div {
  border-color: var(--brightlight);
}

textarea#html-output, textarea#css-to-copy {
  height: 300px;
  color: black;
  font-size: xx-small;
  width: 100%;
  overflow-y: scroll;
  padding: 4px;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none; /*remove the resize handle on the bottom right*/
}

.dark textarea#html-output, .dark textarea#css-to-copy {
  background-color: black;
  color: white;
}


















.almost-full-height, #output-and-copy, #notes, #controls{
  height: calc(100vh - 64px);
  height: calc(100svh - 60px);


}

@media screen and (max-width: 824px) {
  .almost-full-height, #output-and-copy, #controls {
     height: auto;
  }


  #output-and-copy, #controls {
    min-height: 50vh;
 }

  .almost-full-height, #notes {
    height: calc(100vh - 42px);
    height: calc(100svh - 42px);
    margin-bottom: 60px;
    
 }

 h1.titlecard {
  font-size: 20vw;
 }
}

textarea::placeholder{
  color: black;
}

.add-scroll, #output-div, #controls-inputs-div{
  overflow-y: scroll;
}


.checkbox-bipolar-input {
  display: none;

  &:checked + label .checkbox-bipolar {
    &:after {
      left: 18px;
      right: 2px;
    }

    .on {
      opacity: 0.5;
    }

    .off {
      opacity: 0;
    }
  }
}

/*
from 
https://codepen.io/alvarotrigo/pen/jOZOxNr 
*/
.checkbox-bipolar {
  width: 36px;
  height: 20px;

  border-radius: 10px;
  border: 1px solid currentColor;
  display: inline-block;
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;
    background-color: currentColor;
    left: 2px;
    top: 2px;
    bottom: 2px;
    right: 18px;
    border-radius: 8px;
    transition: all 0.2s;
  }

  .on {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 6px;
    opacity: 0;
    transition: 0.2s;
    font-family: sans-serif;
    font-size: 14px;
  }

  .off {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    opacity: 0.5;
    font-family: sans-serif;
    transition: 0.2s;
    font-size: 14px;
  }
}


#toggle-div{
  display: grid;
  width: fit-content;
  height: fit-content;
  margin: 0 auto 0 0;
  grid-template-columns: 50px auto;
  grid-template-rows: 2em;
}

#toggle-div>div{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 5px;
  align-items: center;
}

#disabled-workskin-label{
  padding: 2px;
  font-weight: bold;
  display: flex;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
}

select{
  width: 90%;
  margin: 5px;
  max-width: 400px;
  background-color: unset;
  border: 2px solid currentColor;
  border-radius: 2px;
  padding: 5px;
}

.dark select option {
  background-color: var(--darkdark);
  border: 0;
  border: blue solid;
  margin: -2px;
}

input {
  width: fit-content;
}