:root{
  --lightestval: #c9e4ca;
  --lighterval: #b7d6bb;
  --lightval: #87bba2;
  --middleval: #55828b;
  --darkval: #3b6064;
  --darkestval: #364958;
  --highlight: #d9e6b1;
}

@tailwind base;
@tailwind components;
@tailwind utilities;



.easy-to-read input{
  width: fit-content;
  margin: auto auto auto 5px;
}

.easy-to-read button{
  margin: 1em 0;
}
.copy-box{
  display: block;
  max-width: 15cm;
  font-family: 'Courier New', Courier, monospace;
  padding:0;
  margin: 0.5em 0;

}

.copy-box>textarea{
  margin:0;
  background-color: unset;
  border: none;
  -webkit-mask-image: linear-gradient(180deg, #000 90%, transparent);

  padding: 15px;
  
}

.copy-box>button{
  display: block;
  width:100%;
  width: calc(100% + 4px);
  margin: 0 -2px 0 -2px;
  font-size: small;
  }

.css-box{
  background-color: #00223c;
  border: 2px solid;
  border-top: none;
}

.css-box>textarea{
  color: white;
  font-size: xx-small;
  height: 4cm;
}

.html-box{
  background-color: rgb(255, 255, 255);
  border: 2px solid rgba(128, 128, 128, 0.373);
  border-top: none;
}
.html-box>textarea{
  height: 5cm;
}

.snuggleup{
  margin-top: 0;
}

.snuggledown{
  margin-bottom: 2px;
}


.add{
  margin: 4px;
  max-width: 100%;
  background-color: white;
  padding: 7px 7px;
}

.add.inline{
  display: flex;
  background-color: white;
  padding: 7px 1em;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.add textarea{
  width: 2cm;
  border-color: #0007;
}

.add p{
margin-top: 2px;
margin-bottom: 2px;
}
.inline.add input[type=number] {
  width: 3em !important;
}

.normal.add button{
  display: block;
  margin: auto 2em;
}

.nowrap{
  text-wrap: nowrap;
}
.add small {
  color: grey;
  font-size: xx-small;
}

.add small textarea, .add small input{
  color: black;
  font-size: medium;
  height: 0.7em;
  border-color: #00000084;
  margin: 3px;
}