/*
GEN
*/

h2 {
    margin: 10px auto;

}
h2::before {
content: "## ";

}

p, p i, p b {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6;
    margin: 15px 0;
}

h3 {
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 20px;
}

h3 span#html-abbr-opt, h3 span#css-abbr-opt {
    display: inline-flex;
    white-space: nowrap;
    overflow-x: hidden;
    text-wrap: nowrap;


}
/*
FOR LEGENDS
*/

a.legend-links {
    display: block;
    padding: 3px 15px;
    margin: 0;
    border-radius: 0 0 0 0;

}

a.legend-links:hover {
    display: block;
    padding: 3px 15px;
}

/*
make buttons look nice
*/

.buttonhorizontal{
    display: flex;
    justify-content: center;
    margin: 15px auto;
    width: 100%;
    height: fit-content;
    flex-flow: row wrap;
    gap: 12px;

}

.buttonhorizontal button{
    font-size: small;
    display: block;
    cursor: pointer;
    margin: 0;
    flex-grow: 1;
    border: 3px dotted #105b63ab;
    padding: 3px 5px;
    text-align: center;
    
}

.dark .buttonhorizontal button {
    border-color: rgba(240, 248, 255, 0.787);
}

.buttonhorizontal button:hover {
    background-color: #ffc78c;
  }
  
  .dark .buttonhorizontal button:hover {
    background-color: #105b63;
  }

/*
for coding demos
*/

.codedemo{
    display: grid;
    grid-template-columns: 1fr;
    color: black;
    margin: 10px 0;
    grid-template-rows: 1.2em auto;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    border: 2px solid var(--lighterval);
    
    
}

.appendcodedemo{ 
    /*apologies for the shit code. 
    Theoretically Id make this work automatically lol*/
    margin-top: -10px;
    border-top: none;
}

.codedemo div{
    display: flex;
    flex-direction: column;
    justify-content: bottom;
    text-align: center;
    align-content:space-around;
    padding: auto 5px;
}
.codedemo p{
    margin: auto;
    padding: 8px  5px;
    line-height: 1.3;
    align-content:space-around;
}

.codedemo .header{
    background-color: rgb(113, 113, 113);
    font-size: medium;
    color: white;
    margin: auto 0;
    
}
.codedemo .header p{
    margin: 0;
    padding: 0;
}

.codedemo>.HTMLcoding{
    background-color: rgb(209, 209, 209);
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}

.codedemo>.CSScoding{
    background-color: rgb(179, 179, 179);
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}

.codedemo>.text{
    background-color: rgb(216, 246, 255);

}

.codedemo .highlight{
    background-color: rgba(255, 250, 205, 0.629);
    border-radius: 5px;
    padding: 0px 2px;
}

.codedemo .pinkbox{
    display: inline-block;
    background-color: pink;
    padding: 5px;
    margin: auto;
    
}

.simplemsgexample{
    display: inline-block;
    border: 2px solid black;
    background-color: white;
    padding: 5px;
    width: fit-content;
    margin: auto 5px;
    border-radius: 12px;
    border-bottom-left-radius: 0;
}


#usingworkshop li{
    font-weight: bold;
    font-size: larger;
    padding: 15px 15px 0 5px;
}

#ownworkskin li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style-position:outside;
    list-style-type: square;
    margin-left: 20px;
    padding-bottom: 15px;

}