.noworkskin{
display:none;
}

.screenreader {
  position: absolute;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

 .twt {
  width: 85vw;
  max-width: 12cm;
  margin: 0em auto;
  padding: 10px 10px 1px 10px;
  border: 1.5px solid rgb(102, 120, 135,0.5);
  border-top:0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;

}

.twt p{
  margin: 0px auto;
}

/*different twitter colours*/
.twtwhite{
  background-color: white;
  color: black;
}

.twtblack{
  background-color: black;
  color: white;
}

/*makes sure that the starting tweet has a top border*/
.twtstart{
  border-top:1.5px solid rgb(102, 120, 135,0.5);
}

/*another twitter style, put here so it can overtake the .twtstart and .twtend*/
.twtminimal{
  border: none;
}

 .twt-header {
  display: block;
  display: block;
  margin-bottom: auto;
  padding: 0px;
  overflow: hidden;
  margin-bottom: 5px;
}

 .twt-icon-container {
  display:inline-block;
  padding: 0px;


}

.twt-id {
  display: inline;
  vertical-align: top;
  font-size: 1em;
  padding-left: 20px;
 }


 .twt-icon {
  display:inline-block;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

 .twt-iconquote {

  border-radius: 50%;
  width: 30px;
  height: 30px;
}


 .twt-name {
  font-weight: bold;

}

 .twt-name:hover {
  text-decoration: underline;
  cursor: pointer;
}

 .twt-handle {
  font-size: small;
  font-weight: normal;
  color: #657786;
}

 .twt-handle:hover {
  cursor: pointer;
}

 .twt-content {
  font-size: 1.3em;
}

 .twt-contentquote {
  padding-bottom: 1em;
  font-size: 1em;
}

 .twt-timestamp {
  color: #657786;
  font-size: small;
  margin: 10px;
  margin-left: 20px;
}

 hr.twt-sep,
 hr.twt-sep-reply {
  border: none;
  height: 1px;
  width: 100%;
  background-color: #657786;
}

 .twt-stat {
  display: flex;
  justify-content: space-around;

  color: #657786;
  font-size: small;
  margin: 10px auto 10px auto;
  font-weight: bold;
}

.twt-stat-reply{
  margin-left: 4em;
}

.twt-quote-id{
  padding-left: 5px;

}
 .twt-quotebox {

  padding: 15px 20px 0 15px;
  border: 1px solid #c7c7c7;
  border-radius: 10px;
  margin: 1em 0 1em 0;

}

.twt-image>img{
  width: 90%;
  display: block;
  background-color: #c7c7c7;
  border: 1px solid #c7c7c7;
  border-radius: 10px;

  margin: 1em auto;
  overflow: hidden;
  line-height: 0;
}

.twt-replybox{
  display: table;
  width: 85vw;
  max-width: 12cm;

}


 .twt-icon-replycontainer {
  display: table-cell;
  width: 60px;
  vertical-align: top;
}

 .twt-replycontainer {
  display: table-cell;
  padding-left: 20px;
  overflow: hidden;
}

.twt-replying-to{
  color: #657786;
  font-size: smaller;
}



.twt-timestamp-reply{
  text-align: right;
  margin-right: 0px;
  margin-left: auto;
}

 .twt-replycontent {
  margin: 10px 0;
}


 .twt-social {
  margin-right: 2em;
  margin-bottom: 1em;

}

 .twt-socialimg {
  height: 13px;
  margin-right: 3px;
}

 .twt-hl {
  color: #1DA1F2;
}

 .twt-hl:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*Polls*/


.twt .twtpoll {
  height: 29px;
  width: 90%;
  float: middle;
  margin: 5px auto 5px auto;
  border: 1px solid;
  border-radius: 15px;
  text-align: center;
  overflow: hidden;
  border-color: #209AED;
}

.twt .twtpoll p{
  line-height: 1;
}

.twt .twtpolltext {
  display: inline-block;
  font-weight: bold;
  position: relative;
  font-size: 13px;
  color: #209AED;
}

.twt .pollvotes {
  margin-bottom: 5px;
  margin-left: 3em;
  margin-right: 10px;
  font-size: 12px;
  display: inline-block;
}